rough_notes.md
rough_notes.pdf
*.pyc
*.pdf
src/tags
src/drive*
todo.md
*.job
*.out
src/*png
src/*/*png
src/pickles
src/VESSEL12output
src/*pkl
src/outputs/*pkl
src/**/.ipynb_checkpoints
src/*jobs
src/oldnotebooks
